nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid block;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 650px;
}

aside {
    width: 20rem;
    margin: 1px;
    border: 1px solid;
    padding: 25px;
    background-color: #1b4d3e;
    color: #ffffff;
    text-align: left;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}