.callout {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid hsl(0, 0%, 27%);
    padding: 20px;
    background-color: hsl(210, 100%, 20%);
    color: hsl(0, 0%, 100%);
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 2px solid hsl(0, 0%, 100%);
    padding: 5px;
    background-color: hsl(0, 0%, 100%);
    width: 150px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted hsl(0, 0%, 100%);
    padding-top: 10px;
    text-align: right;
    font-size: 0.9em;
}